header{
    height: 56px;
    display: grid;
    grid-template-columns: 1fr auto;
    background: var(--header-background);
    position: sticky;
    top: 0;
    color: var(--header-text);
    #logo{
        height: 40px;
        display: block;
    }
    & > div {
        padding: 8px 16px;
    }
    #user-menu{
        display: grid;
        grid-gap: 8px;
        grid-template-columns: 32px 1fr;
        align-items: center;
        height: 40px;
        font-weight: bold;
        background: #0001;
        width: 160px;
        .user-icon{
            width: 32px;
            height: 32px;
        }
    }
    menu {
        display: flex;
        opacity: 0;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        top: 40px;
        pointer-events: none;
        width: 200px;
        right: 0;
        display: block;
        margin: 0;
        padding: 16px;
        transition: all 0.2s;
        background: var(--main-background);
        a {
            display: inline-flex;
            height:40px;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 0 8px;
            font-weight: bold;
        }
    }
    #user-menu:hover > menu {
        opacity: 1;
        pointer-events: all;
        top: 56px;
    }
}
