:root {
    --main-text-lighter: #777;
    --main-color: #ccc;
}
.no-item{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.group-item{
    display: grid;
    grid-template-columns: auto 1fr;
    .branch {
        grid-column: 1/2;
        width: 0px;
    }
    .profile{
        display: grid;
        text-decoration: none;
        grid-column: 2/3;
        grid-template-columns: 56px 1fr;
        grid-gap: 16px;
        .icon {
            width: 56px;
            height: 56px;
            border-radius: 4px;
            border: 2px solid #0001;
            box-sizing: border-box;
        }
        .detail {
            display: flex;
            flex-direction: column;
            .name{
                font-size: 1rem;
                font-weight: bold;
            }
            .screen-name{ 
                font-size: 0.75rem;
            }
        }
    }
    &.small {
        .profile {
            grid-template-columns: 32px 1fr;
            .icon {
                width: 32px;
                height: 32px;
                border-radius: 16px;
            }
            .screen-name {
                font-size: 0.9rem;
                font-weight: 600;
            }
            .name { 
                display: none;
            }
        }
    }
}

.children {
    grid-column: 2/3;
    grid-gap: 8px;
    position: relative;
    .branch {
        width: 24px;
        display: block;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            box-sizing: border-box;
            border-left: 2px solid var(--main-color);
            border-bottom: 2px solid var(--main-color);
            width: 8px;
            height: 40px;
            left: 16px;
            top: -8px;
            border-bottom-left-radius: 4px;
        }
    }
}

.user-list,
.invite-list{
    h4{
        margin: 16px 0 8px;
        font-size: 0.75rem;
    }
}

.user-item,
.invite-item {
    display: grid;
    grid-template-columns: 56px 1fr;
    grid-gap: 16px;
    text-decoration: none;
    .icon {
        display: block;
        width: 56px;
        height: 56px;
        box-sizing: border-box;
        border: 2px solid #0001;
    }
    .icon {
        border-radius: 28px;
    }
    .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .name{
            font-size: 1rem;
            font-weight: bold;
        }
        .screen-name{ 
            font-size: 0.75rem;
        }
        .buttons{
            text-align: right;
            font-size: 0.8rem;
            a{
                display: inline-block;
            }
            input{
                display: block;
                position: absolute;
                overflow: hidden;
                opacity: 0
            }
        }
    }
    &.small {
        grid-template-columns: 40px 1fr;
        grid-gap: 8px;
        .icon {
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }
        .screen-name {
            font-size: 0.9rem;
            font-weight: 600;
        }
        .name { 
            display: none;
        }
    }
}

.member-control-list{
    h4{
        margin: 16px 0 8px;
        font-size: 0.75rem;
    }
}

.member-control-item {
    display: grid;
    grid-template-columns: 56px 1fr auto;
    grid-gap: 16px;
    text-decoration: none;
    padding: 8px;
    .icon{
        display: block;
        width: 56px;
        height: 56px;
        box-sizing: border-box;
        border: 2px solid #0001;
        border-radius: 28px;
    }
    .detail {
        display: flex;
        flex-direction: column;
        .name{
            font-size: 1rem;
            font-weight: bold;
        }
        .screen-name{ 
            font-size: 0.65rem;
        }
    }
    .actions{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            margin-left: 4px;
        }
    }
    &.small {
        grid-template-columns: 32px 1fr auto;
        .icon {
            width: 32px;
            height: 32px;
            border-radius: 16px;
        }
        .screen-name {
            font-weight: 600;
            font-size: 0.9rem;
        }
        .name { 
            display: none;
        }
    }
}

.app-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: start;
}

.app-item {
    display: grid;
    text-decoration: none;
    grid-template-columns: 56px 1fr;
    grid-gap: 16px;
    padding: 8px;
    .icon {
        width: 56px;
        height: 56px;
        border-radius: 4px;
        border: 2px solid #0001;
        box-sizing: border-box;
    }
    .detail {
        display: flex;
        flex-direction: column;
        .name{
            font-size: 1rem;
            font-weight: bold;
        }
        .screen-name{ 
            font-size: 0.85rem;
        }
        .description {
            font-size: 0.9rem;
            margin: 0.5rem 0;
        }
    }
}
