#content{
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    background: var(--main-background);
    .mini-title{
        font-size: 0.8rem;
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        margin: 0;
        padding: 8px 16px;
        &.dark {
            border-bottom: 1px solid #eee;
            background-color: #00000005;
        }
    }
    .thin-title{
        font-size: 0.8rem;
        font-weight: bold;
    }
    .tab-container{
        display: grid;
        .tab-header{
            a{
                height: 32px;
                box-sizing: border-box;
                text-decoration: none;
                font-weight:bold;
                font-size: 0.8rem;
            }
        }
    }
    @import './form.scss';
    @import './list.scss';
    @include pc{
        width: 1200px;
        section{
            padding: 32px;
        }
        .tab-container{
            grid-template-columns: 240px 1fr;
            .tab-header{
                padding: 32px 16px;
                a {
                    height: 32px;
                    line-height: 32px;
                    padding: 0 16px;
                    display: block;
                    background: var(--main-background);
                    color: var(--accent-text);
                    font-weight: bold;
                    border-left-width: 4px;
                    border-left-style: solid;
                    border-left-color: #0000;
                    &.focus {
                        border-left-color: var(--accent-background);
                    }
                }
            }
        }
        .left-main{
            display: grid;
            grid-template-columns: 1fr 400px;
        }
    }
    @include sp {
        max-width: 900px;
        width: 100%;
        .tab-container{
            grid-template-rows: 32px 1fr;
            grid-gap: 8px;
        }
        .tab-header{
            height: 32px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            a {
                display: flex;
                border-top-width: 4px;
                border-top-style: solid;
                border-top-color: var(--main-background);
                color: var(--main-text);
                justify-content: center;
                align-items: center;
                &.focus{
                    border-top-color: var(--accent-background);
                }
            }
        }
    }
}
