{% set entrance = True %}
{% extends 'base.html' %}
{% block header %}
    {% include "entrance-header.html" %}
{% endblock %}
{% block content %}
{% set post = request.post() %}
<div id='content'>
    <h1>ようこそ</h1>
    <p>
        <span>さっそく最初のユーザーを作り、</span>
        <span>Mitamaを始めましょう</span>
    </p>
    <form method='post' action='' enctype='multipart/form-data' class='entrance'>
        <dl>
            <dt>メールアドレス</dt>
            <dd>
                <input type="email" name="email" placeholder="メールアドレス" />
            </dd>
        </dl>
        <div class='submit'>
            <button type="submit">確認メールを送信</button>
        </div>
        <p class='error'>{{ error }}</p>
    </form>
</div>
{% endblock %}
