{% extends 'base.html' %}
{% block header %}
    {% include 'header.html' %}
{% endblock %} {% block content %}
{% if error == None %}
{% set post = request.post() %}
{% else %}
{% set post = {} %}
{% endif %}
<div id='content'>
    <h2 class='mini-title dark'>{{ group.name }}の設定</h2>
    <div class="left-main">
        <form method='POST' action='' enctype='multipart/form-data' class="inner tight">
            <dl>
                <dt>アイコン</dt>
                <dd>
                    <div id='image-form'>
                        <img src="{{ dataurl(icon) }}" class="icon"/>
                        <label class='button'>
                            <input type='file' name='icon' accept='image/*' onchange="previewImage(this)" />
                            画像を選択
                        </label>
                        <script>
                            function previewImage(dom) {
                                document.querySelector("#image-form img").src=URL.createObjectURL(dom.files[0])
                            }
                        </script>
                    </div>
                </dd>
                <dt>ドメイン名</dt>
                <dd>
                    <input type='text' name='screen_name' placeholder='ドメイン名' value='{{ screen_name }}'/>
                </dd>
                <dt>名前</dt>
                <dd>
                    <input type='text' name='name' placeholder='名前' value='{{ name }}'/>
                </dd>
                {% if permission("admin", request.user) %}
                <dt>役割</dt>
                <dd>
                    {% for role in roles %}
                    <label>
                        <input type='checkbox' name='roles' value='{{ role.screen_name }}' {% if role in group.roles %}checked{% endif %}/>
                        {{ role.name }}
                    </label>
                    {% endfor %}
                </dd>
                {% endif %}
            </dl>
            <button type='submit'>設定を変更</button>
            {% if error %}
                <p class='error'>{{ error }}</p>
            {% endif %}
            {% if message %}
                <p class='message'>{{ message }}</p>
            {% endif %}
        </form>
        <section class='inner'>
            <h3 class="thin-title between">
                参加中
                <button onclick='document.querySelector("#modal-switch").click()'>追加</button>
            </h3>
            <div class='member-control-list'>
                {% set groups = group.groups %}
                {% if groups|length > 0 %}
                <h4>グループ</h4>
                {% for group_ in groups %}
                <div class='item'>
                    <img src='{{dataurl(group_.icon)}}' class='icon'>
                    <div class='detail'>
                        <div class='name'>{{group_.name}}</div>
                        <div class='screen-name'>{{group_.screen_name}}</div>
                    </div>
                    <div class='actions'>
                        <a href='/groups/{{group.screen_name}}/remove/{{group_.id}}'><button>はずす</button></a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% set users = group.users %}
                {% if users|length > 0 %}
                <h4>ユーザー</h4>
                {% for user in users %}
                <div class='item'>
                    <img src='{{dataurl(user.icon)}}' class='user-icon'>
                    <div class='detail'>
                        <div class='name'>{{user.name}}</div>
                        <div class='screen-name'>{{user.screen_name}}</div>
                    </div>
                    <div class='actions'>
                        <a href='/groups/{{group.screen_name}}/remove/{{user.id}}'><button>はずす</button></a>
                        {% if not inner_permission("admin", group, user) %}
                        <a href='/groups/{{group.screen_name}}/accept/{{user.id}}/update'><button>グループ管理者にする</button></a>
                        {% else %}
                        <a href='/groups/{{group.screen_name}}/forbit/{{user.id}}/update'><button>一般メンバーにする</button></a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </section>
    </div>
    <input type='checkbox' id='modal-switch' />
    <div class='modal'>
        <label class='background' for='modal-switch'></label>
        <form action='/groups/{{group.screen_name}}/append' method='POST' class='inner'>
            <h3>ユーザーを追加</h3>
            <div class='two-columns'>
                <div>
                    <h4>ユーザー</h4>
                    <div class='member-append-list user'>
                        <input type='search' oninput='reload_list("#user")' placeholder='検索'>
                    {% for user in all_users %}
                        <label class='item-container'>
                            <input type='checkbox' name='user' value='{{user.id}}'>
                            <div class='item'>
                                <img src='{{dataurl(user.icon)}}' class='user-icon'>
                                <div class='detail'>
                                    <div class='name'>{{user.name}}</div>
                                    <div class='screen-name'>{{user.screen_name}}</div>
                                </div>
                            </div>
                        </label>
                    {% endfor %}
                    </div>
                </div>
                <div>
                    <h4>グループ</h4>
                    <div class='member-append-list group' id='#group'>
                        <input type='search' oninput='reload_list("#group")' placeholder='検索'>
                    {% for group in all_groups %}
                        <label class='item-container'>
                            <input type='checkbox' name='group' value='{{group.id}}'>
                            <div class='item'>
                                <img src='{{dataurl(group.icon)}}' class='icon'>
                                <div class='detail'>
                                    <div class='name'>{{group.name}}</div>
                                    <div class='screen-name'>{{group.screen_name}}</div>
                                </div>
                            </div>
                        </label>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class='modal-submit'>
                <button>追加</button>
                <button type='button' onclick='document.querySelector("#modal-switch").click()'>キャンセル</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
